<h3>Search Page</h3>
<div class="mt-4">
    <form method="GET" action="/news">
      <div class="mb-3">
        <label for="search-input" class="form-label">Input Below</label>
        <input name="q" type="text" class="form-control" id="search-input" placeholder="Company" >
        <input name="fullName" type="text" class="form-control" placeholder="Full Name" >
      </div>
      <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div >